@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";

/*
*  profile
*----------------------------*/
.profileContainer {
    @include display-flex;
    @include mediaquery-mobile {
        @include flex-direction(column-reverse);
    }
}
.profile__text {
    @include mediaquery-pc {
        width: 708px;
    }
    @include mediaquery-mobile {
        width: 100%;
    }
}
.profile__text__table {
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    table {
        width: 100%;
        tr{
            border-top: 1px solid #eee;
        }
        th {
            color: #808080;
        }
        th,
        td {
            line-height: 1.6;
        }
    }
    @include mediaquery-spNot {
        th {
            vertical-align: top;
            width: 25%;
            padding-top: 1.75em;
            padding-bottom: 1.75em;
        }
        td {
            padding-top: 1.75em;
            padding-bottom: 1.75em;
            padding-left: 1.75em;
        }
    }
    @include mediaquery-smartphone {
        th,
        td {
            display: block;
        }
        th {
            width: 100%;
            margin-bottom: 10px;
            padding-top: 1em;
        }
        td {
            width: 100%;
            padding-bottom: 1em;
        }
    }
}
.profile__text__list {
    &Container {
        @include mediaquery-spNot {
            @include display-flex;
        }
    }
    @include mediaquery-spNot {
        width: 50%;
    }
    li {
        &:before {
            content: "・";
        }
    }
}
.profile__text__item {
    background-color: rgba($color_accent, 0.1);
    padding: 2em;
    .title {
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 1em;
    }
}
.profile__img {
    @include mediaquery-pc {
        width: 256px;
        margin-left: 60px;
    }
    @include mediaquery-tablet {
        width: 30%;
        margin: 0 auto 30px;
    }
    @include mediaquery-smartphone {
        width: 50%;
        margin: 0 auto 30px;
    }
}