@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";

/*
*  news
*----------------------------*/

.news-column-4clm {
    @include mediaquery-spNot {
        @include display-flex;
        @include flex-wrap(wrap);
    }
    @include mediaquery-tablet {
        max-width: 450px;
        margin: 0 auto;
        @include justify-content(space-between);
    }
}

.news-column-item {
    width: 200px;
    @include mediaquery-pc {
        margin-right: 74px;
        &:nth-child(4n) {
            margin-right: 0;
        }
    }
    @include mediaquery-tablet {
        margin-bottom: 50px;
    }
    @include mediaquery-smartphone {
        margin-right: auto;
        margin-left: auto;
        & + & {
            margin-top: 50px;
        }
    }
    a {
        color: $color_main;
    }
}

.news-column-item__info {
    margin-top: 1em;
    padding-left: 10px;
    border-left: 4px solid $color_accent;
}

.info__date {
    margin: 0 0 5px;
}