@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";

/*
*  top page
*----------------------------*/

.top-kv {
    background-color: $color_sub;
}

.top-kv__head {
    background: #fff;
    &Container {
        @include display-flex;
        @include justify-content(space-between);
        padding-top: 20px;
        padding-bottom: 20px;
        @include mediaquery-smartphone {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}
.top-kv__head__logo {
    width: 390px;
    @include mediaquery-smartphone {
        width: 245px;
    }
}
.top-kv__head__btn {
    > a{
        color: #fff;
        background: $color_accent;
        font-weight: bold;
        text-decoration: none;
        display: block;
        padding: 1em 1.5em;
    }
}
.top-kv__img {
    background-color: $color_sub;
    background-image: url(../img/top/kv_bg.jpg);
    background-position-y: center;
    background-repeat: no-repeat;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;
    @include mediaquery-pc {
        background-position-x: 30%;
    }
    @include mediaquery-tablet {
        background-position-x: 60%;
    }
    @include mediaquery-mobile {
        background-position-x: 60%;
        overflow: hidden;
    }
    &Container {
        position: relative;
    }
    &__copy {
        @include mediaquery-pc {
            width: 485px;
        }
        @include mediaquery-tablet {
            width: 50%;
        }
        @include mediaquery-smartphone {
            width: 60%;
        }
    }
    &--01 {
        margin: 0 auto;
        @include mediaquery-pc {
            width: 144px;
        }
        @include mediaquery-tablet {
            width: 30%;
        }
        @include mediaquery-smartphone {
            width: 50%;
        }
    }
    &--02 {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &--03 {
        margin: 0 auto;
        @include mediaquery-pc {
            width: 138px;
        }
        @include mediaquery-tablet {
            width: 40%;
        }
        @include mediaquery-smartphone {
            width: 60%;
        }
    }
    &--04 {
        position: absolute;
        bottom: -30px;
        @include mediaquery-pc {
            right: 0;
            width: 500px;
        }
        @include mediaquery-tablet {
            right: 0;
            width: 55%;
        }
        @include mediaquery-smartphone {
            right: -70px;
            width: 75%;
        }
    }
}

.top-section {
    padding: 40px 10px;
    h2 {
        color: $color_main;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
    }
    h3 {
        color: #4c4948;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }
}

.top-profile__name {
    width: 125px;
    margin: 0 auto;
}

.top-thinks {
    background: $color_sub;
}

.top-thinksColumn3 {
    @include display-flex;
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    margin: 0 auto;
    > .col {
        width: 235px;
        margin-bottom: 30px;
    }
    .col__text {
        margin-top: 10px;
        p {
            font-size: 14px;
        }
    }
    @include mediaquery-pc {
        max-width: 770px;
    }
    @include mediaquery-tablet {
        max-width: 680px;
        > .col {
            width: 30%;
        }
    }
    @include mediaquery-smartphone {
        display: block;
        width: 100%;
        > .col {
            width: 80%;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.youtube {
    &Container {
        max-width: 620px;
        margin: 0 auto;
    }
    &__inner {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;
        margin: 0 auto;
        iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.top-newsDownload {
    position: fixed;
    z-index: 999;
    top: 50%;
    right: 0;
    @include transform(translateY(-50%));
}
