@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  header
*----------------------------*/

.header {
  @include mediaquery-pc {
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

//モバイルメニュー
.header__btnMobileMenu {
  position: absolute;
  right: 10px;
  width: 50px;
  @include mediaquery-tablet {
    top: 22px;
  }
  @include mediaquery-smartphone {
    top: 7px;
  }
}

//header固定
#is-headerFixed {
  width: 100%;
  @include transition(all .5s);
  &.scrolled {
    background: rgba(255,255,255,.96);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9990;
    @include box-shadow(0 3px 2px rgba(0,0,0,.2));
    //スクロール時_変更箇所
    @include mediaquery-pc {
      //スクロールした時に変更したいスタイルを記入する
    }
  }
}


/*
*  globalnavi
*----------------------------*/

//globalnavi_レイアウト
.gNav {
  @include mediaquery-pc {
    width: 1024px;
    margin: 0 auto;
  }
  @include mediaquery-tablet {
    width: $mobileMenu_width_tablet; //スマホメニュー幅
  }
  @include mediaquery-smartphone {
    width: $mobileMenu_width_sp; //スマホメニュー幅
  }
}

//globalnavi_PCデザイン
.gNav {
  .gNav__item {
    & > a {
      span {
        color: $color_accent;
        font-size: 11px;
        display: block;
        margin-top: 0.5em;
      }
    }
  }
  @include mediaquery-pc {
    .gNav__itemContainer {
      @include display-flex;
      @include justify-content(space-between);
    }
    .gNav__item {
      & > a {
        color: #000;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        span {
          font-weight: normal;
        }
      }
    }
  }
}

//globalnavi_アコーディオン_PC デザイン
.gNav-accordion {
  .accordionMenu--pc {
    @include mediaquery-pc {
      width: 400px;
      background-color: $color_main;
      top: 67px;
      left: 50%;
      margin-left: -200px !important;
      padding: 20px;
      &::before {
        content: "▲";
        font-size: 25px;
        color: $color_main;
        text-align: center;
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
      }
      a {
        color: #fff;
        text-decoration: none;
        display: block;
        float: left;
        width: 160px;
        margin: 5px 10px;
        padding-left: 20px;
        position: relative;
        font-size: 14px;
        &:hover {
          text-decoration: underline;
        }
        &::before {
          position: absolute;
          content: "▶";
          font-size: 10px;
          top: 50%;
          left: 0;
          margin-top: -6px;
        }
      }
    }
  }
}

//globalnavi_MOBILE デザイン
.gNav-accordion {
  @include mediaquery-mobile {
    //１階層目
    .gNav__item > a {
      color: #333;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      span {
        font-weight: normal;
      }
    }
    //２階層目
    .accordionMenu--mobile {
      & > li > a {
        color: #333;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

//SP グローバルナビのオーバーレイ部分
.drawer-open {
  @include mediaquery-mobile {
    .is-menuOpen-overlay::before {
      content: '';
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 80;
      left: 0;
      top: 0;
    }
  }
}

//SP メニューボタン
.drawer--right.drawer-open .drawer-hamburger{
  z-index: 100;
  @include mediaquery-tablet {
    right: 250px;
  }
  @include mediaquery-smartphone {
    right: 190px;
  }
}

//モバイルメニューを開いた時_メニューボタンを消す
.drawer-open {
  .drawer-toggle.drawer-hamburger {
    display: none;
  }
}


/*
*  footer
*----------------------------*/
.footer-main {
  background: $color_sub;
  padding-top: 40px;
  padding-bottom: 40px;
  &__inner {
    max-width: 580px;
    margin: 0 auto;
  }
  @include mediaquery-smartphone {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.footerColumn2 {
  @include display-flex;
  @include justify-content(space-between);
  @include flex-wrap(wrap);
  > .col {
    width: 280px;
    @include mediaquery-mobile {
      width: 48%;
    }
  }
}
.footer-sub {
  background: $color_accent;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  ul > li {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    & + li:before {
      content: "|";
      display: inline-block;
      margin-right: 1em;
      margin-left: 1em;
    }
    > a {
      color: #fff;
      text-decoration: none;
    }
  }
  @include mediaquery-smartphone {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.copyright {
  background: #565656;
  padding-top: 1em;
  padding-bottom: 1em;
  p {
    color: #fff;
    font-size: 14px;
  }
  @include mediaquery-smartphone {
    padding-right: 10px;
    padding-left: 10px;
  }
}

//ページトップへ戻るボタン
.pageTop-box {
  position: relative;
  .pageTop {
    position: fixed;
    cursor: pointer;
    width: 50px;
    right: 5px;
    z-index: 999;
  }
}
