@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  font_color
*----------------------------*/

.mod-font-cMain {
  color: $color_main;
}
.mod-font-cSub {
  color: $color_sub;
}
.mod-font-cAccent {
  color: $color_accent;
}

.mod-font-cWhite {
  color: #fff;
}
.mod-font-cBlack {
  color: #000;
}
.mod-font-cGray {
  color: #666;
}
.mod-font-cLightGray {
  color: #999;
}
.mod-font-cRed {
  color: #ff0000;
}


/*
*  font_family
*----------------------------*/

.mod-font-famSub {
  font-family: $font_family_sub;
}

/*
* icomoon
*----------------------------*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?glojo4');
  src:  url('../fonts/icomoon.eot?glojo4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?glojo4') format('truetype'),
    url('../fonts/icomoon.woff?glojo4') format('woff'),
    url('../fonts/icomoon.svg?glojo4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
