@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  pagenation
*----------------------------*/

.mod-pagination-01 {
  span {
    display: inline-block;
  }
  .numberBox{
    font-size: 0;
  }
  .number {
    a {
      display: inline-block;
      padding: 15px;
      font-size: 14px;
      border: 1px solid $color_pagination;
      color: $color_pagination;
      text-decoration: none;
      @include mediaquery-pc {
        transition: all .1s ease-in-out;
        &:hover {
          transition: all .2s ease-in-out;
          background-color: $color_pagination;
          color: #fff;
        }
      }
    }
  }
  .prev {
    a {
      border: 0px;
      color: #000;
      text-decoration: none;
      font-size: 14px;
    }
  }
  .next {
    a {
      border: 0px;
      color: #000;
      text-decoration: none;
      font-size: 14px;
    }
  }
  .current {
    display: inline-block;
    padding: 15px;
    font-size: 14px;
    border: 1px solid $color_pagination;
    color: $color_pagination;
    background-color: $color_pagination;
    color: #fff;
  }
  .page-numbers {
    margin: 5px;
  }
}
