@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  Heading
*----------------------------*/

.mod-hl-01 {
  background-color: #eee;
  color: #333;
  font-size: 25px;
  padding: 15px 10px 15px 10px;
  margin-bottom: 25px;
  border-width: 0 0 0 20px;
  border-style: solid;
  border-color: $color_main;
  font-weight: bold;
}

.mod-hl-02 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  position: relative;
  padding-left: 16px;
  margin-top: 30px;
  margin-bottom: 15px;
  &::before {
    content: '';
    position: absolute;
    background-color: $color_accent;
    width: 8px;
    height: 8px;
    top: 6px;
    left: 0;
  }
}

.mod-hl-03 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-top: 15px;
  margin-bottom: 15px;
}


.mod-hl-04 {

}

.mod-hl-05 {

}

.mod-hl-06 {

}
